In [19]:
!pip install Selenium

Requirement already satisfied: Selenium in c:\users\hp\anaconda3\lib\site-packages (4.15.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from Selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from Selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from Selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from Selenium) (1.26.14)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.1.3)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [357]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.chrome.service import service as ChromeService
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [358]:
driver=webdriver.Chrome()

In [14]:
selenium.__version__

'4.15.1'

1

In [137]:
driver.get("https://www.shine.com/")

In [139]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys("Data Analyst")

In [140]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [143]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [144]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [145]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [146]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [147]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [148]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [149]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [150]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
1,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
2,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
3,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
4,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
5,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Data Analyst 1,Bangalore,merck ltd,1 to 3 Yrs
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Hiring For Data Analyst,Bangalore\n+14,divya interprises,0 to 4 Yrs
9,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs
10,Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
11,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
12,Urgently need a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
13,Data Analyst (Google Cloud - Big Query 6-10 yrs),Bangalore,"cisco systems, inc.",5 to 10 Yrs
14,Data Analyst- HR,Bangalore,paytm,2 to 4 Yrs
15,"Tax Analyst, Data",Bangalore,dell,3 to 5 Yrs
16,Data Science - Analyst,Bangalore,jpmorgan,3 to 5 Yrs
17,Sr Data Engineer - Python /GCP/Snowflake | 8+ ...,Bangalore,"cisco systems, inc.",7 to 9 Yrs
18,Data Analyst,Bangalore,schneider electric,2 to 3 Yrs
19,Data Analyst,Bangalore,ntt limited,5 to 7 Yrs

In [151]:
df.head(10)

,Title,Location,Company_name,Experience
0,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
1,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
2,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
3,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
4,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
5,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Data Analyst 1,Bangalore,merck ltd,1 to 3 Yrs
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Hiring For Data Analyst,Bangalore\n+14,divya interprises,0 to 4 Yrs
9,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs

2

In [19]:
driver.get("https://www.shine.com/")

In [21]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys("Data Scientist")

In [22]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [23]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [24]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [25]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags[1:11]:
    title=i.text
    job_title.append(title)

In [26]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[1:11]:
    location=i.text
    job_location.append(location)

In [27]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[1:11]:
    company=i.text
    company_name.append(company)

In [28]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[1:11]:
    exp=i.text
    experience_required.append(exp)

In [29]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [30]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
1,Data Scientist- Bangalore,Bangalore,the fashion cosmo,0 to 3 Yrs
2,Data Scientist AI ML CV,Bangalore,bosch group,3 to 5 Yrs
3,Data Scientist AI ML NLP,Bangalore,bosch group,3 to 5 Yrs
4,Phd Data Scientist,Bangalore,bosch group,2 to 5 Yrs
5,Data Scientist-Bangalore,Bangalore,shiva hr services,0 to 3 Yrs
6,Hiring For Data Scientist,Bangalore\n+14,divya interprises,0 to 4 Yrs
7,Data Scientist,Bangalore,racanaa energy solution private lim...,3 to 6 Yrs
8,Staff Data Scientist & Team Lead,Bangalore,true caller,8 to 12 Yrs
9,Data scientist,Bangalore\n+8,capgemini technology services india...,6 to 11 Yrs

3

In [95]:
driver.get("https://www.shine.com/")

In [96]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys("Data Scientist")

In [97]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [100]:
salary_filter=driver.find_element(By.ID,'id_minsal')
salary_filter.send_keys("3-6")

In [101]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [102]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [103]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags[1:11]:
    title=i.text
    job_title.append(title)

In [104]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[1:11]:
    location=i.text
    job_location.append(location)

In [105]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[1:11]:
    company=i.text
    company_name.append(company)

In [106]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[1:11]:
    exp=i.text
    experience_required.append(exp)

In [107]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [249]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist Vacancy,Oman\n+14,divya interprises,0 to 4 Yrs
1,Data Scientist Vacancy,Oman\n+14,divya interprises,0 to 4 Yrs
2,Data Scientist Management Consulting Mumbai,Mumbai City,morpheus human consulting pvt ltd,2 to 4 Yrs
3,Data Scientist Urgent Recruitment,Oman\n+14,divya interprises,0 to 4 Yrs
4,Data Scientist Urgent Recruitment,Oman\n+14,divya interprises,0 to 4 Yrs
5,Data Scientist Urgent Recruitment,Oman\n+14,divya interprises,0 to 4 Yrs
6,Senior Data Scientist,Chennai,pfizer limited,7 to 9 Yrs
7,Data Scientist- Madhya Pradesh,Other Madhya Pradesh,the fashion cosmo,0 to 3 Yrs
8,Data Scientist- Goa,Other Goa,the fashion cosmo,0 to 3 Yrs
9,Data Scientist- Chhattisgarh,Other Chattisgarh,the fashion cosmo,0 to 3 Yrs

4

In [321]:
driver.get("https://www.flipkart.com/")

In [322]:
designation=driver.find_element(By.CLASS_NAME,"Pke_EE")
designation.send_keys("sunglasses")

In [323]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [324]:
Company=[]
productde=[]
price=[]

In [325]:
start=0
end=3

In [326]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [327]:
for page in range(start,end):
    company=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div/div[1]')
    for i in company:
        Company.append(i.text)

In [328]:
        
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    
    
    next_button.click()
    time.sleep(3)

In [329]:
start=0
end=3

In [330]:
for page in range(start,end):
    product=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div/a[1]')
    for i in product:
        productde.append(i.text)

In [331]:
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    
    
    next_button.click()
    time.sleep(3)

In [332]:
start=0
end=3

In [333]:
for page in range(start,end):
    price_=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div/a[2]/div/div[1]')
    for i in price_:
        price.append(i.text)

In [334]:
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    
    
    next_button.click()
    time.sleep(3)

In [335]:
print(len(Company),len(productde),len(price))

3 3 3

In [336]:
import pandas as pd
df=pd.DataFrame({'BRAND':Company,'PRODUCT':productde,'PRICE':price})
df

       BRAND                                           PRODUCT PRICE
0  Sponsored  UV Protection Rectangular Sunglasses (Free Size)  ₹449
1  Sponsored  UV Protection Rectangular Sunglasses (Free Size)  ₹449
2  Sponsored  UV Protection Rectangular Sunglasses (Free Size)  ₹449

5

In [353]:
driver.get("https://www.flipkart.com/apple-iphone-12-black-64-gb/p/itma2559422bf7c7?pid=MOBFWBYZU5FWK2VP&lid=LSTMOBFWBYZU5FWK2VPQTNJSG&marketplace=FLIPKART&q=iphone+12&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=search-autosuggest&iid=4ec4251b-fe11-4f21-be40-00f4bef63d1b.MOBFWBYZU5FWK2VP.SEARCH&ppt=sp&ppn=sp&ssid=gwka3oy60w0000001699104968157&qH=7b7504afcaf2e1ea")

In [354]:
Ratings=[]

In [355]:
start=0
end=10

In [356]:
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    
    for i in ratings:
        Ratings.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    
    
    next_button.click()
    time.sleep(3)

In [357]:
Review_summary=[]

In [358]:
start=0
end=10

In [359]:
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    
    for i in review:
        Review_summary.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    
    
    next_button.click()
    time.sleep(3)

In [360]:
Full_review=[]

In [361]:
start=0
end=10

In [362]:
for page in range(start,end):
    review_full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    
    for i in review_full:
        Full_review.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    
    
    next_button.click()
    time.sleep(3)

In [363]:
print(len(Ratings),len(Review_summary),len(Full_review))

100 100 100

In [364]:
import pandas as pd
df=pd.DataFrame({'RATINGS':Ratings,'REVIEW_SUMMARY':Review_summary,'FULL_REVIEW':Full_review})
df

,RATINGS,REVIEW_SUMMARY,FULL_REVIEW
0,5,Must buy!,Go for it
1,5,Classy product,Awesome
2,5,Wonderful,Performance is soooo fast\nEspecially faceid d...
3,5,Simply awesome,Awesome Camera
4,5,Must buy!,Camera quality is just fabulous. Interface is ...
...,...,...,...
95,5,Simply awesome,"Excellent camera , good performance,average ba..."
96,5,Awesome,Classic
97,5,Excellent,Love it.
98,5,Terrific,Wow superb camera phone\nVery smooth speed and...
99,5,Worth every penny,Just go for it\nI purchased 128 gb purple colo...

6

In [560]:
driver.get("https:/www.flipkart.com/")

In [561]:
designation=driver.find_element(By.CLASS_NAME,'Pke_EE')
designation.send_keys('sneakers')

In [562]:
search=driver.find_element(By.CLASS_NAME,'_2iLD__')
search.click()

In [563]:
Brand_name=[]

In [564]:
start=0
end=3

In [565]:
for page in range(start,end):
    brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    
    for i in brand_name:
        Brand_name.append(i.text)

In [566]:
        
        next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
        
        next_button.click()
        time.sleep(3)

In [576]:
Product_description=[]

In [577]:
start=0
end=3

In [578]:
for page in range(start,end):
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    
    for i in product:
        Product_description.append(i.text)

In [579]:
    
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    
    next_button.click()
    time.sleep(3)

In [571]:
Price=[]

In [572]:
start=0
end=3

In [573]:
for page in range(start,end):
    description=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    
    for i in description:
        Price.append(i.text)

In [574]:
        
        next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
        next_button.click()
        time.sleep(3)

In [580]:
print(len(Brand_name),len(Price),len(Product_description))

120 120 120

In [581]:
import pandas as pd
df=pd.DataFrame({'BRAND_NAME':Brand_name,'PRICE':Price,'PRODUCT_DESCRIPTION':Product_description})
df

    BRAND_NAME   PRICE                                PRODUCT_DESCRIPTION
0       BRUTON    ₹639  Girls Stylish Casual Sports Shoe Sneakers For ...
1       BRUTON  ₹2,799            GO WALK FLEX - CLEVE Sneakers For Women
2     URBANBOX  ₹1,027                            Stride Sneakers For Men
3       Layasa  ₹2,999                               530 Sneakers For Men
4         aadi  ₹1,639                    Graviton Pro L Sneakers For Men
..         ...     ...                                                ...
115      asian    ₹599           BMW MMS Drift Cat Delta Sneakers For Men
116   Magnolia  ₹7,199             UNO - ALUMINIFEROUS Sneakers For Women
117       aadi  ₹4,499            BILLION 2 - SIDE LIN Sneakers For Women
118   RED TAPE  ₹3,149             2 Combo Sneaker Shoes Sneakers For Men
119       PUMA  ₹2,249                       LIGUORY 2.0 Sneakers For Men

[120 rows x 3 columns]

7

In [606]:
driver.get("https:/www.amazon.in/")

In [607]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
designation.send_keys('Laptops')

In [608]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [614]:
Titles=[]

In [615]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in title_tags[1:11]:
    title=i.text
    Titles.append(title)

In [616]:
Ratings=[]

In [622]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags[1:11]:
    rating=i.text
    Ratings.append(rating)

In [618]:
Price=[]

In [624]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[1:11]:
    price=i.text
    Price.append(price)

In [625]:
print(len(Titles),len(Ratings),len(Price))

10 10 10

In [626]:
import pandas as pd
df=pd.DataFrame({'TITLES':Titles,'RATINGS':Ratings,'PRICE':Price})
df

                                              TITLES RATINGS     PRICE
0  ASUS Vivobook 15, IntelCore i7-12650H 12th Gen...            60,990
1  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...            63,990
2  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...            49,990
3  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...            52,990
4  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            64,990
5  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            57,990
6  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...            85,990
7  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...            84,990
8  HP Victus Gaming Laptop, 12th Gen Intel Core i...            84,990
9  HP Envy x360 for Creators 12th Gen Intel Core ...          1,19,990

8

In [14]:
driver.get("https://www.azquotes.com/")

In [15]:
Quotes=[]

In [16]:
start=0
end=10

In [17]:
for page in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    
    for i in quotes:
        Quotes.append(i.text)

In [18]:
        next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
        
        next_button.click()
        time.sleep(3)

In [19]:
Author=[]

In [20]:
start=0
end=10

In [21]:
for page in range(start,end):
    authors=driver.find_elements(By.XPATH,'//div[@class="author"]')
    
    for i in authors:
        Author.append(i.text)

In [23]:
        next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
        
        next_button.click()
        time.sleep(3)

In [24]:
Types_of_Quotes=[]

In [25]:
start=0
end=10

In [26]:
for page in range(start,end):
    typesofquotes=driver.find_elements(By.XPATH,'//div[@class="author"]')
    
    for i in typesofquotes:
        Types_of_Quotes.append(i.text)

In [28]:
        next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
        
        next_button.click()
        time.sleep(3)

In [29]:
print(len(Quotes),len(Author),len(Types_of_Quotes))

1000 1000 1000

In [30]:
import pandas as pd
df=pd.DataFrame({'QUOTES':Quotes,'AUTHOR':Author,'TYPESOFQUOTES':Types_of_Quotes})
df

,QUOTES,AUTHOR,TYPESOFQUOTES
0,The essence of strategy is choosing what not t...,Michael Porter,Neltje Blanchan
1,One cannot and must not try to erase the past ...,Golda Meir,Saint Augustine
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,Henry Ford
3,Death is something inevitable. When a man has ...,Nelson Mandela,Arthur Rubinstein
4,You have to love a nation that celebrates its ...,Erma Bombeck,George Mason
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,Jim Rohn
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,Henry Ford
997,If you think you are too small to make a diffe...,Dalai Lama,Robin Williams
998,"God doesn't require us to succeed, he only req...",Mother Teresa,Margaret Walker
999,Change your thoughts and you change your world.,Norman Vincent Peale,T. Harv Eker

9

In [384]:
driver.get("https://www.jagranjosh.com/")

In [385]:
GK=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div/div/div[3]/ul/li[6]/a')
GK.click()

In [386]:
data=[]
table=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table')
rows=table.find_element(By.TAG_NAME,('tr'))

for i in rows:
    cols=row.find_elements(By.tag_name('td'))
    
    if len(cols)==4:
        name=cols[0].text
        born_dead=cols[1].text
        term_of_office=cols[2].text
        remarks=cols[3].text
        data.append([name,born_dead,term_of_office,remarks])

TypeError: 'WebElement' object is not iterable

In [374]:
name=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[1]/th[2]')
for i in name[:18]:
    Name=i.text
    name.append(Name)

In [353]:
age=driver.find_elements(By.XPATH,'')
for i in age[:18]:
    Born_Dead=i.text
    age.append(Born_Dead)

In [354]:
termofoffice=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[1]/th[4]/p/strong')
for i in termofoffice[:18]:
    Term_of_office=i.text
    termofoffice.append(Term_of_office)

In [355]:
remark=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[1]/th[5]/p/strong')
for i in remark[:18]:
    Remarks=i.text
    remark.append(Remarks)

In [356]:
print(len(Name),len(Born_Dead),len(Term_of_office),len(Remarks))

17 9 14 6

In [193]:
import pandas as pd
df=pd.DataFrame({'NAME':Name,'BORN-DEAD':Born_Dead,'TERMOFOFFICE':Term_of_office,'REMARKS':Remarks})
df

Empty DataFrame
Columns: [NAME, BORN-DEAD, TERMOFOFFICE, REMARKS]
Index: []

10

In [387]:
driver.get("https://www.motor1.com/")

In [388]:
designation=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
designation.send_keys("50 most expensive cars")

In [389]:
search=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [390]:
expensivecars=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
expensivecars.click()

In [391]:
car_names=[]

In [392]:
name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name:
    car_names=i.text
    name.append(car_names)

AttributeError: 'str' object has no attribute 'text'

In [370]:
car_names=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')


car_prices=driver.find_element(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/p[4]/strong')


data=[]
for name,price in zip(car_names,car_prices):
    data.append([name.text,price.text])

TypeError: 'WebElement' object is not iterable

10

In [535]:
driver.get("https://www.motor1.com/")

In [536]:
search_bar=driver.find_element(By.ID,'search_input')

In [537]:
search_bar.send_keys('50 most expensive cars')
search_bar.submit()

In [538]:
expensivecars=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
expensivecars.click()

In [539]:
car_names=[]

In [540]:
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    car=i.text
    car_names.append(car)

In [541]:
pricelist=[]

In [545]:
price_tags=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]')
for i in price_tags:
    price_=i.text
    pricelist.append(price_)

In [546]:
print(len(car_names),len(pricelist))

51 104

In [507]:
import pandas as pd
df=pd.DataFrame({'CARNAME':car_names,'PRICE':pricelist})
df

ValueError: All arrays must be of the same length

In [ ]:
_